In [72]:
# Import the Pandas Library to the notebook
import pandas as pd

### Concatenate

In [73]:
# From the "Data" folder, import the following files into DataFrame objects, and
# display their contents:
# (These files contain each family's daily shopping list)
# List of file paths
file_paths = [
    "../Python-DataFiles/Lesson 6/Family_1_groceries.csv",
    "../Python-DataFiles/Lesson 6/Family_2_groceries.csv",
    "../Python-DataFiles/Lesson 6/Family_3_groceries.csv"
]

# Read the files into a list of DataFrames
dfs = [pd.read_csv(file, engine="python") for file in file_paths]

# Assign each DataFrame to a variable
df1, df2, df3 = dfs

print(f"DF1 \n {df1} \n DF2 \n {df2} \n DF3 \n {df3}")

DF1
    Customer no  Product Code
0            1          1003
1            1          1011
2            1          1010
3            1          1008
4            1          1002
 DF2
    Customer no  Product Code
0            2          1000
1            2          1004
2            2          1011
3            2          1003
4            2          1009
 DF3
    Customer no  Product Code
0            3          1000
1            3          1004
2            3          1011
3            3          1003
4            3          1009
5            3          1000
6            3          1002

In [74]:
# Merge the shopping data of the three families (df1, df2, df3) into a new DataFrame
# called shop_df, which will contain the complete shopping list of all the families.
# Because the indices of the rows are in disarray, please re-index the rows anew

# Merge the dataframes from dfs and already create a new index
shop_df = pd.concat(dfs, ignore_index=True)
shop_df

    Customer no  Product Code
0             1          1003
1             1          1011
2             1          1010
3             1          1008
4             1          1002
5             2          1000
6             2          1004
7             2          1011
8             2          1003
9             2          1009
10            3          1000
11            3          1004
12            3          1011
13            3          1003
14            3          1009
15            3          1000
16            3          1002

In [75]:
#  How many purchase rows did the three families make on the day documented in
# the data? 17 rows
shop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer no   17 non-null     int64
 1   Product Code  17 non-null     int64
dtypes: int64(2)
memory usage: 404.0 bytes

In [76]:
# Which families purchased item number 1011 or 1000
# If you need to look for a method that deletes duplicate values, search the web for
# how to do this
product_filter = shop_df['Product Code'].isin([1011, 1000])


# Drop duplicate customer numbers 
shop_df[product_filter].drop_duplicates("Customer no")

    Customer no  Product Code
1             1          1011
5             2          1000
10            3          1000

In [77]:
# What is the best-selling item, and how many times was it sold?
products_count = shop_df.groupby('Product Code').size()

best_selling_item = products_count.idxmax()
best_selling_qty = products_count.max()

print(f"The best-selling item is {best_selling_item}, and it was sold {best_selling_qty} times.")

The best-selling item is 1000, and it was sold 3 times.

In [78]:
# Which family purchased the most items, how many times did the family shop?
# ANS: Family 3, shopping 7 items
shop_df.groupby("Customer no").size()

Customer no
1    5
2    5
3    7
dtype: int64

In [79]:
# Which family bought the most items if you don’t include the sales for items 1000 &
# 1011.

items_filter = (shop_df["Product Code"] == 1000)  | (shop_df["Product Code"] == 1011)

# Used the (~) to negate the filter
shop_df[~items_filter].groupby("Customer no").size()

# ASN: Family 1 and 3 bought most items in this case

Customer no
1    4
2    3
3    4
dtype: int64

In [80]:
# How many times was item number 1003 purchased?
items_filter = shop_df["Product Code"] == 1003
shop_df[items_filter]["Customer no"].count()

# ANS: 3 times

3

### Merge

In [81]:
# Import the Groceries file into a variable named gr_df
gr_df = pd.read_csv("../Python-DataFiles/Lesson 6/Groceries.csv",                   
                  engine="python")

gr_df

    Code     Description  Price
0   1000           Bread    7.5
1   1001        Soy milk   10.0
2   1002            Eggs   30.0
3   1003          Cheese    5.5
4   1004   Mineral water   12.0
5   1005           Pasta    5.0
6   1006           Bamba    5.0
7   1007         Almonds   20.0
8   1008          Quinoa   15.0
9   1009            Rice   10.0
10  1010           Honey   13.0
11  1011  Dark Chocolate   21.0

In [82]:
# Merge the information from gr_df and shop_df into a new variable called sales, so
# that for each row in shop_df, the product description and price will also be added.
sales = shop_df.merge(gr_df,how="left", left_on="Product Code", right_on="Code")
sales

    Customer no  Product Code  Code     Description  Price
0             1          1003  1003          Cheese    5.5
1             1          1011  1011  Dark Chocolate   21.0
2             1          1010  1010           Honey   13.0
3             1          1008  1008          Quinoa   15.0
4             1          1002  1002            Eggs   30.0
5             2          1000  1000           Bread    7.5
6             2          1004  1004   Mineral water   12.0
7             2          1011  1011  Dark Chocolate   21.0
8             2          1003  1003          Cheese    5.5
9             2          1009  1009            Rice   10.0
10            3          1000  1000           Bread    7.5
11            3          1004  1004   Mineral water   12.0
12            3          1011  1011  Dark Chocolate   21.0
13            3          1003  1003          Cheese    5.5
14            3          1009  1009            Rice   10.0
15            3          1000  1000           Bread    7.5
16            3          1002  1002            Eggs   30.0

In [83]:
# Delete repetitive columns, if there are any.
sales.drop(columns="Code", inplace=True)

In [84]:
# What is the total purchase amount for all of the families? $234.0
sales["Price"].sum()

234.0

In [86]:
# What is the purchase amount only for Family 1? $84.5
family_filter = sales["Customer no"] == 1

sales.loc[family_filter,"Price"].sum()

84.5

In [94]:
# What is the amount of the most expensive item purchased by family number 2? $21.0
family_filter = sales["Customer no"] == 2

sales.loc[family_filter,"Price"].max()

21.0

In [100]:
# What is the description of the most expensive item purchased by family number 2? "Rice"

family_filter = sales["Customer no"] == 2

sales.loc[family_filter,["Price","Description"]].max()["Description"]

'Rice'

In [112]:
# What item/s has/have been purchased the most times? 
# ANS: Bread, Cheese and Dark chocolate
sales.groupby(["Product Code","Description"]).size().sort_values(ascending=False)

Product Code  Description
1000          Bread             3
1003          Cheese            3
1011          Dark Chocolate    3
1002          Eggs              2
1004          Mineral water     2
1009          Rice              2
1008          Quinoa            1
1010          Honey             1
dtype: int64

In [132]:
# Use Group and Aggregate of the data to display a "Product Sales Report" that will
# contain the following columns:
# • Product code
# • Quantity sold
# • Total sales amount
# Sort the display by total price from highest to lowest
sales_group = sales.groupby("Product Code").agg({
        "Product Code":"count",
        "Price": "sum"   
    })

sales_group.sort_values(by="Price", ascending=False)

              Product Code  Price
Product Code
1011                     3   63.0
1002                     2   60.0
1004                     2   24.0
1000                     3   22.5
1009                     2   20.0
1003                     3   16.5
1008                     1   15.0
1010                     1   13.0

###  Product analysis

In [121]:
# Merge the information from gr_df and shop_df into a new variable called
# products, so that for each row in gr_df, the product's sales data will be added - if
# there were any (that is, if there were no sales for the product, the product data will
# appear without sales data, and if the product had more than one sale, a row will
# appear for each sales row)
products = gr_df.merge(shop_df,how="left", left_on="Code", right_on="Product Code")
products.drop(columns="Product Code", inplace=True)

In [123]:
# Are there any products that have never been purchased?
# If so, show the product code, description, and price
never_purchased_filter = products["Customer no"].isna()

products[never_purchased_filter]

    Code Description  Price  Customer no
3   1001    Soy milk   10.0          NaN
11  1005       Pasta    5.0          NaN
12  1006       Bamba    5.0          NaN
13  1007     Almonds   20.0          NaN

In [130]:
# Use Group and Aggregate of the data to display a "Product Sales Report" that will
# contain the following columns:
# • Product code
# • Quantity sold
# • Total sale amount
# Sort the display by total price from highest to lowest 
products_group = products.groupby("Code").agg({
    "Customer no":"count",
    "Price" : "sum"
})

products_group.sort_values("Price", ascending=False)

      Quantity sold  Price
Code
1011              3   63.0
1002              2   60.0
1004              2   24.0
1000              3   22.5
1007              0   20.0
1009              2   20.0
1003              3   16.5
1008              1   15.0
1010              1   13.0
1001              0   10.0
1005              0    5.0
1006              0    5.0

<b>Continuing from the previous section, what is the difference between this report
and the report in section 10?
When do you think it would be worthwhile to use each of these reports?</b>

The second report shows all products, including those that have never been purchased. This is helpful for managing inventory and seeing which items are not selling. The first report lists only the products that have been purchased, which is good for analyzing sales and deciding which items need to be reordered.