## My First Python Lesson

### Numbers

In [12]:
my_number = 500

my_number

500

In [13]:
my_number = (my_number+30) * 2

my_number

1060

In [14]:
my_number % 7

3

In [15]:
unit_price = 503
qty_sold = 8
total_price = (unit_price * qty_sold) * 0.9

total_price

3621.6

In [16]:
total_price / 3

1207.2

In [18]:
total_price // 3

1207.0

### String slicing and methods

In [37]:
student_id = "vgo37621"
#student_id[3:8:1]
city = "Vancouver"

print("Welcome", student_id, "from", city + ", please pay", total_price)

Welcome vgo37621 from Vancouver, please pay 3621.6

In [46]:
print(f"Hello {student_id} \nIt's our first Python lesson \tHow fun! =)")

Hello vgo37621
It's our first Python lesson 	How fun! =)

In [48]:
my_var = "He" + "l" * 2 + "o" + " Class - " + "Python " + str(100//5) + str(45%23)
my_var

'Hello Class - Python 2022'

The following code will display the first five characters from my_var

In [49]:
my_var[0:5:1]

'Hello'

In [51]:
# This will display the last 6 characters
my_var[-6::1]

'n 2022'

In [52]:
my_var[::3]

'HlCs-yo22'

In [53]:
my_var[::-1]

'2202 nohtyP - ssalC olleH'